@import '~vuetify/src/styles/styles.sass';
@import '~vuetify/src/components/VBtn/_variables.scss';
@import '~vuetify/src/components/VTabs/_variables.scss';


$background: #131E21;
$surface1: #1F2A2D;
$surface2: #242E31;

$high-emphasis: .87;
$low-emphasis: .6;
$disabled-emphasis: .3;

$body-font-family: 'Red Hat Text', sans-serif !important;
$heading-font-family: 'Orbitron', serif !important;
$border-radius-root: 0px;
$line-height-root: 1.2;


$headings: map-deep-merge(
	$headings,
	(
		'h3': (
			'font-weight': 400,
			'letter-spacing': .05em,
			'text-tranform': uppercase
		)
	)
);


$material-dark: map-merge($material-dark, ( app-bar: $background ));
$material-dark: map-merge($material-dark, ( background: $background ));
$material-dark: map-deep-merge(
	$material-dark,
	( 
		'text': (
			'primary': rgba(255,255,255, $low-emphasis),
			'secondary': rgba(255,255,255, $low-emphasis),
			'disabled': rgba(255,255,255, $disabled-emphasis),
		),
		'cards': $surface1,
		'bg-color': $background,

		'primary-text-percent': $high-emphasis,
		'secondary-text-percent': $low-emphasis,
		'disabledORhints-text-percent': $disabled-emphasis,
	)
);

// BUTTONS
$btn-border-radius: 4px;

// TABS
$tabs-bar-height: 30px;

@import '~vuetify/src/styles/settings/_variables.scss';





