bcrypt>=3.2
certifi==2020.6.20
cffi
chardet==3.0.4
click==7.1.2
cryptography==2.9.2
fastapi>=0.61
gunicorn>=20.0
h11==0.9.0
httptools
idna==2.10
passlib==1.7.2
pycparser==2.20
pydantic>=1.6
PyJWT>=2.0
python-arango==7.*
python-dateutil==2.8.1
python-multipart==0.0.5
requests==2.24.0
requests-toolbelt==0.9.1
six==1.15.0
starlette>=0.13
urllib3==1.25.10
uvicorn>=0.11
uvloop>=0.14
websockets
