:root {
  --display-font: 'Orbitron';
  --display-spacing: .05em;
  --text-font: 'Red Hat Text';
  --text-spacing: .03em;
  --low-white: rgba(255,255,255,.6);
  --high-white: rgba(255,255,255,.87);
  --disabled-white: rgba(255,255,255,.3);
  --bg-color: #131E21;
  --surface-1: #1F2A2D;
  --surface-2: #242E31;
  --box-border: #707070;
  --theme-blue: #22AED1;
  --theme-green: #0DAB76;
  --theme-orange: #FF9F1C;
  --theme-red: #E71D36;
}



#app .no-transition {
  transition: none !important;
}

#app .nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#app .background-blur {
  filter: blur(5px);
}

#app button.v-btn {
  font-family: var(--display-font);
  letter-spacing: var(--display-spacing);
  color: var(--high-white);
  font-weight: bold;
}

.display {
  position: relative;
  font-family: var(--display-font);
  letter-spacing: var(--display-spacing) !important;
  color: var(--low-white);
  text-transform: uppercase;
  vertical-align: text-bottom;
  word-break: break-word;
}

.weight-medium {
  font-weight: 500;
}

.weight-bold {
  font-weight: bold;
}

.surface-1 {
  background-color: #1F2A2D !important;
}

.parapraph {
  font-family: var(--text-font);
  letter-spacing: var(--text-spacing);
  color: var(--low-white);
}

.highlight {
  color: var(--high-white);
  /*font-weight: bold;*/
}

.solid-white {
  color: white !important;
}

.smaller {
  font-size: .7em;
}

.fill {
  height: 100%;
  width: 100%;
}
