// app global css in SCSS form
@use 'theme';
@use 'fonts';


$body-font-family: 'Red Hat Text', sans-serif !important;
$heading-font-family: 'Orbitron', serif !important;
$border-radius-root: 0px;
$body-line-height: 1.2;

$btn-border-radius: 4px;

:root {
  --display-font: 'Orbitron';
  --display-spacing: .05em;
  --text-font: 'Red Hat Text';
  --text-spacing: .03em;
  --low-white: rgba(255,255,255,.6);
  --high-white: rgba(255,255,255,.87);
  --disabled-white: rgba(255,255,255,.3);
  /*--bg-color: #131E21;*/
  --surface-1: #1F2A2D;
  --surface-2: #242E31;
  --box-border: #707070;
  --theme-blue: #22AED1;
  --theme-green: #0DAB76;
  --theme-orange: #FF9F1C;
  --theme-red: #E71D36;
  --hover-bg-blue: rgba(30,52,58,1);
}


#q-app .no-transition {
  transition: none !important;
}

#q-app .nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#q-app .background-blur {
  filter: blur(5px);
}

#q-app button.v-btn:not(.v-btn--text .v-btn--flat .v-btn--outline) {
  font-family: var(--display-font);
  letter-spacing: var(--display-spacing);
  color: rgba(255,255,255,.87);
  font-weight: bold;
}

#q-app .v-avatar {
  color: #ffffffaa;
}

#q-app .v-avatar.highlight {
  color: #fff;
  font-weight:  bold;
}

.display {
  position: relative;
  font-family: var(--display-font);
  letter-spacing: var(--display-spacing) !important;
  text-transform: uppercase;
  vertical-align: text-bottom;
  word-break: break-word;
}

.medium {
  font-size: .89rem;
}

.weight-medium {
  font-weight: 500;
}

.weight-bold {
  font-weight: bold !important;
}

.surface-1 {
  background-color: #1F2A2D !important;
}

.parapraph {
  font-family: var(--text-font);
  letter-spacing: var(--text-spacing);
  color: var(--low-white);
}

.low-text {
 color: var(--text-low);
}

.highlight {
  color: var(--text-high);
  font-weight: bold;
}

.solid-white {
  color: white !important;
}

.smaller {
  font-size: .7em;
}

.fill {
  height: 100%;
  width: 100%;
}

.flex-fill {
  /*flex: 1 1 auto;*/
  height: 300px;
}

.v-dialog.fill {
  max-height: 100% !important;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 8px;
  padding-bottom: 24px;
}

span .display {
  line-height: .8rem;
}

.fade-bottom {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#131e21+0,131e21+50&0+0,1+50 */
  background: -moz-linear-gradient(top,  rgba(19,30,33,1) 50%, rgba(19,30,33,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(19,30,33,1) 50%,rgba(19,30,33,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(19,30,33,1) 50%,rgba(19,30,33,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131e21', endColorstr='#00131e21',GradientType=0 ); /* IE6-9 */
}

.fade-top {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#131e21+50,131e21+100&1+50,0+100 */
  background: -moz-linear-gradient(bottom,  rgba(19,30,33,1) 50%, rgba(19,30,33,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom,  rgba(19,30,33,1) 50%,rgba(19,30,33,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top,  rgba(19,30,33,1) 50%,rgba(19,30,33,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131e21', endColorstr='#00131e21',GradientType=0 ); /* IE6-9 */
}

.fixed {
  position: fixed;
}

.scroll {
  overflow: scroll !important;
  flex-wrap: nowrap !important;
}

/* Highlight color on hover for VDataTable rows */
.v-data-table tr:hover:not(.v-data-table__expanded__content) {
  background-color: rgba(39,174,209, .4) !important;
  /*-webkit-box-shadow: 0px 0px 20px 0px rgba(34,174,209,1);
  -moz-box-shadow:  0px 0px 20px 0px rgba(34,174,209,1);
  box-shadow:  0px 0px 20px 0px rgba(34,174,209,1);*/
}


/*  Make Vertical tabs take all the width available
    Not possible using properties or inline style
    because the component generates an inner element
    (.v-item-group) which is not directly targetable
    from the parent component
*/
.v-tabs--vertical.v-tabs--grow .v-item-group {
  flex: 1 1 auto !important;
}

/*Make step tabs not grow beyond container*/
.v-tabs.v-tabs--grow .v-tabs-bar__content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

/* Draggable ghost class */
.ghost {
  opacity: 0.2;
}

/* Style bom rows for deletion */
#bom .v-data-table__selected {
  background-color: transparent !important
}

/*.v-autocomplete__content {
  background-color: var(--surface-2) !important;
  border-color: var(--box-border) !important;
}*/


.v-menu__content {
  border: 1px solid var(--box-border);
}

.v-menu__content .v-card .v-list.v-sheet {
  background-color: var(--surface-2);
}


/* TRANSITIONS */
/*.slide-fade-enter-active, .fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active, .fade-leave-active {
  transition: all .3s ease;
}
.slide-fade-enter, .fade-enter, .slide-fade-leave-to, .fade-leave-to
{
  transform: translateX(-10px);
  opacity: 0;
}*/

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: opacity 0.2s, transform 0.3s;
}

.slide-fade-leave-to {
  transform: translateX(-15px);
  opacity: 0;
}

.slide-fade-enter {
  transform: translateX(15px);
  opacity: 0;
}


/* UPPERCASE STYLING FOR VUETIFY INPUTS */
.input-uppercase input {
  text-transform: uppercase;
}

/* hover highlight */
.hover-highlight {
  background-color: #293437;
}

.theme-bg-color {
  background-color: var(--bg-color)
}

.opaque {
  opacity: 1;
}

.v-data-table-header th {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.alternate-row {
  background-color: #77777711
}
