// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary   : #1976D2;
$primary   : #22AED1;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;


:root {
  --display-font: 'Orbitron';
  --display-spacing: .05em;
  --display-weight: 700;
  --text-font: 'Red Hat Text';
  --text-spacing: .03em;
  --low-white: rgba(255,255,255,.6);
  --high-white: rgba(255,255,255,.87);
  --disabled-white: rgba(255,255,255,.3);
  // --bg-color: #131E21;
  --surface-1: #1F2A2D;
  --surface-2: #242E31;
  --box-border: #707070;
  --theme-grey: #707070;
  --theme-blue: #22AED1;
  --theme-green: #0DAB76;
  --theme-orange: #FF9F1C;
  --theme-red: #E71D36;
  --hover-bg-blue: rgba(30,52,58,1);
}

// CUSTOM

