@use "sass:map";

$high-emphasis: .87;
$low-emphasis: .6;
$disabled-emphasis: .3;

$commons: (
  theme-blue: #22AED1,
  theme-green: #0DAB76,
  theme-grey: #707070,
  theme-red: #E71D36,
  theme-orange: #FF9F1C,
  theme-black: #090C0D,
  blue-backdrop: rgba(39,174,209, .3),
  green-backdrop: rgba(13,171,118, .3),
  orange-backdrop: rgba(255,159,28,.3),
  red-backdrop: rgba(213,29,54,.3)
);

$primary: map-get($commons, 'theme-blue');

@each $name, $color in $commons {
  .bg-#{$name} {
    background: $color !important;
  }
  .text-#{$name} {
    color: $color !important;
  }
}

$surfaces: (
  'dark': (
    header: #131E21,
    footer: #090C0D,
    background: #131E21,
    surface2: #242E31,
    surface1: #1F2A2D,
  ),
  'light': (
    header: #003d60,
    footer: #003d60,
    background: #eee,
    surface1: #fafafa,
    surface2: #fff
  )
);

@each $theme, $colors in $surfaces {
  [progress-theme="#{$theme}"] {
    @each $name, $color in $colors {
      .#{$name} {
        background-color: $color !important;
      }
    }
  }
}

$text-colors:(
  'dark': (
    text-high: rgba(255,255,255,$high-emphasis),
    text-low: rgba(255,255,255,$low-emphasis),
    text-disabled: rgba(255,255,255,$disabled-emphasis)
  ),
  'light': (
    text-high: rgba(30,52,58),
    text-low: rgba(0,0,0,$low-emphasis),
    text-disabled: rgba(0,0,0,$disabled-emphasis)
  )
);

@each $theme, $colors in $text-colors {
  [progress-theme="#{$theme}"] {
    @each $name, $color in $colors {
      .#{$name} {
        color: $color !important;
      }
    }
  }
}

$disabled-colors: (
  'dark': (
    color: rgba(255,255,255,$disabled-emphasis),
    background-color: rgba(255, 255, 255, 0.12),
  )
);

@each $theme, $properties in $disabled-colors {
  [progress-theme="#{$theme}"] .disabled {
      @each $property, $color in $properties {
      $property: $color !important;
    }
  }
}
