{% for var in all_env_vars %}
{% if var in progress_env_vars %}
{{ var }}={{ progress_env_vars[var] }}
{% endif %}
{% endfor %}
PROTOCOL={{ 'https' if progress_env_vars.ENABLE_TLS | default('true') | bool else 'http' }}
